<a href="https://colab.research.google.com/github/marcosjsh/tech_challenge_3/blob/main/TechChallenge3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
import pandas as pd

In [19]:
file_path = '/content/drive/MyDrive/Colab Notebooks/tech_challenge_3/trn.json'

In [20]:
chunk_size = 100000
chunks = pd.read_json(file_path, chunksize=chunk_size, lines=True)

In [21]:
data_chunks = []

for chunk in chunks:
  data_chunks.append(chunk)

df = pd.concat(data_chunks, ignore_index=True)

print(df.count())

uid           2248619
title         2248619
content       2248619
target_ind    2248619
target_rel    2248619
dtype: int64

In [22]:
df = df[['title', 'content']]

print(df.head())

                                               title  \
0                        Girls Ballet Tutu Neon Pink
1                           Adult Ballet Tutu Yellow
2  The Way Things Work: An Illustrated Encycloped...
3                                      Mog's Kittens
4                              Misty of Chincoteague

                                             content
0  High quality 3 layer ballet tutu. 12 inches in...
1
2
3  Judith Kerr&#8217;s best&#8211;selling adventu...
4

In [23]:
df = df.dropna(subset=['content'])
df = df[df['content'].str.strip() != '']

print(df.count())

title      1498718
content    1498718
dtype: int64

In [24]:
df = df.dropna(subset=['title'])
df = df[df['title'].str.strip() != '']

print(df.count())

title      1390403
content    1390403
dtype: int64

In [25]:
df = df.drop_duplicates()

print(df.count())

title      1367131
content    1367131
dtype: int64