<a href="https://colab.research.google.com/github/marcosjsh/tech_challenge_3/blob/main/TechChallenge3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1 - Carregando o Dataset**

Devido ao fato de o dataset ser muito grande, vamos carregá-lo em partes para evitar problemas como falta de recursos no sistema do Colab

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
file_path = '/content/drive/MyDrive/Colab Notebooks/tech_challenge_3/trn.json'

In [4]:
chunk_size = 100000
chunks = pd.read_json(file_path, chunksize=chunk_size, lines=True)

In [5]:
data_chunks = []

for chunk in chunks:
  data_chunks.append(chunk)

df = pd.concat(data_chunks, ignore_index=True)

# **2 - Analisando o Dataset**

Vamos verificar a quantidade de linhas e quais as colunas dp dataset

In [6]:
print(df.count())

uid           2248619
title         2248619
content       2248619
target_ind    2248619
target_rel    2248619
dtype: int64

In [7]:
print(df.head())

          uid                                              title  \
0  0000031909                        Girls Ballet Tutu Neon Pink
1  0000032034                           Adult Ballet Tutu Yellow
2  0000913154  The Way Things Work: An Illustrated Encycloped...
3  0001360000                                      Mog's Kittens
4  0001381245                              Misty of Chincoteague

                                             content  \
0  High quality 3 layer ballet tutu. 12 inches in...
1
2
3  Judith Kerr&#8217;s best&#8211;selling adventu...
4

                                          target_ind  \
0  [12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...
1  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 16, 33, 36, 37,...
2                [116, 117, 118, 119, 120, 121, 122]
3                          [146, 147, 148, 149, 495]
4                                              [151]

                                          target_rel
0  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
1  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...
2                [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
3                          [1.0, 1.0, 1.0, 1.0, 1.0]
4                                              [1.0]

Como iremos utilizar apenas as colunas 'title' e 'content', vamos remover as demais colunas

In [8]:
df = df[['title', 'content']]

In [9]:
print(df.count())

title      2248619
content    2248619
dtype: int64

Vamos remover as linhas em que 'content' está vazio pois não será possível fazer inferência posteriormente se não houver conteúdo

In [10]:
df = df.dropna(subset=['content'])
df = df[df['content'].str.strip() != '']

print(df.count())

title      1498718
content    1498718
dtype: int64

Vamos remover também as linhas em que 'title' está vazio pois não será possível atrelar a descrição a um produto

In [11]:
df = df.dropna(subset=['title'])
df = df[df['title'].str.strip() != '']

print(df.count())

title      1390403
content    1390403
dtype: int64

Vamos remover as linhas duplicadas

In [12]:
df = df.drop_duplicates()

print(df.count())

title      1367131
content    1367131
dtype: int64

Vamos salvar o dataset limpo para usar posteriormente sem a necessidade de passar pelo processo de limpeza a cada vez que o script precisar ser executado

In [13]:
output_path = '/content/drive/MyDrive/Colab Notebooks/tech_challenge_3/trn_clean.json'

In [14]:
df.to_json(output_path, orient='records', lines=True)